body{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    transition: .4s ease;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
}


.slide-container{
    width: 70vw;
    height: 70vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    position: relative;
    overflow: hidden;
    
}

.slide{
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top:-15vh;
    left: -15vw;
    transition: .4s ease;
    z-index: 1;
}

.slide.active{
    opacity: 1;
}

.btn{
    position: fixed;
    background-color: transparent;
    font-size: 30px;
    padding: 30px;
    color: white;
    border: 4px solid orange;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

#left{
    left: calc(15vw - 90px);
}
#right{
    right: calc(15vw - 90px);
}
